@use '../../styles.scss';


.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  border: styles.$border;
  border-radius: styles.$border-radius;
  nav a {
    margin-left: 2rem;
  }
}

@media (max-width: 768px) {
  .site-header {
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
    nav a {
      margin-left: 1rem;
      font-size: 0.8rem;
    }
  }
}
