@use 'styles';

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  border: styles.$border;
  border-radius: styles.$border-radius;
  margin: 2rem 2rem 0 2rem;
  z-index: 2;
  height: 3rem;

  nav {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    column-gap: 2rem;
    row-gap: 1rem;

  }

  .right-side-container {
    display: flex;
    align-items: center;
  }

  .right-side-container > * {
    margin-right: 2rem;
  }
}

@media (max-width: 800px) {
  .site-header {
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
    margin: 1rem 1rem 0 1rem;

    nav {
      margin-left: 1rem;
      display: flex;
      flex-wrap: wrap;
      column-gap: 2rem;
      row-gap: 1rem;

      a {
        font-size: 0.8rem;
      }
    }

    .right-side-container {
      display: flex;
      align-items: center;
    }

    .right-side-container > * {
      margin-right: 1rem;
    }
  }
}

@media (max-width: 650px) {
  .site-header {
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
    margin: 0.5rem 0.5rem 0 0.5rem;
    height: 3rem;
    column-gap: 1rem;

    nav {
      margin-left: 1rem;
      display: flex;
      flex-wrap: wrap;
      column-gap: 0.75rem;
      row-gap: 0.75rem;

      a {
        font-size: 0.75rem;
      }
    }

    .right-side-container {
      display: flex;
      align-items: center;
    }

    .right-side-container > * {
      margin-right: 0.5rem;
    }
  }
}
