@use "../../styles";

.dropdown-container {
  position: relative;
  user-select: none;
}
.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border: styles.$border;
  border-radius: styles.$border-radius;
  background-color: styles.$background-color;
  color: styles.$text-color;
  cursor: pointer;
  &:hover {
    background-color: styles.$text-color;
    color: styles.$background-color;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

.dropdown-options-container {
  margin-top: 0.25rem;
  position: absolute;
  display: block;
  top: 100%;
  z-index: 2;
  left: 0;
  width: 100%;
  background: styles.$background-color;
  color: styles.$text-color;
  border: styles.$border;
  border-radius: styles.$border-radius;
}

.dropdown-option {
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: styles.$border-radius;
  &:hover {
    color: styles.$secondary-color;
    transition: color 0.3s ease;
  }
}
