@use '../../styles' as *;

.color-palette {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  height: 50vh;
}
.color-sample {
  border-radius: $border-radius;
  color: $background-color;
  text-align: center;
  align-content: end;
  padding: 2rem;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(102%);
  }
}

@media (max-width: 760px) {
  .color-palette {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    align-items: center;
    justify-items: center;
  }
}
.background {
  background: $background-color;
  color: $text-color;
  border: $border;
}
.primary { background: $primary-color; }
.secondary { background: $secondary-color; }
.text { background: $text-color; }
.error { background: $error-color; }

.technologies-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  img {
    opacity: 0.5;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    &:hover {
      transform: scale(105%);
      opacity: 1;
    }
  }
}
