@use '../../styles' as *;

.color-palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100vw;
  align-items: center;
}
.color-sample {
  border-radius: $border-radius;
  color: $background-color;
  min-height: 40vh;
  min-width: 10%;
  text-align: center;
  align-content: end;
  padding: 2rem;
  margin: 1rem 0.2rem 1rem 0.2rem;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(102%);
  }
}

@media (max-width: 850px) {
  .color-palette {
    gap: 0.5rem;
  }
  .color-sample {
    min-height: 10vh;
  }
}
.background {
  background: $background-color;
  color: $text-color;
  border: $border;
}
.primary { background: $primary-color; }
.secondary { background: $secondary-color; }
.text { background: $text-color; }
.error { background: $error-color; }

.technologies-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100vw;
  align-items: center;
  img {
    opacity: 0.5;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    &:hover {
      transform: scale(105%);
      opacity: 1;
    }
  }
}

@media (max-width: 760px) {
  .technologies-container img {
    width: 80px;
    height: 80px;
  }
}
