@use 'styles' as *;

.notification-container {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  width: 10rem;
  z-index: 1000;
  text-align: center;
  .notification {
    border: $border;
    border-radius: $border-radius;
    background-color: $text-color;
    color: $background-color;
    padding: 0.5rem;
  }
}
