@use 'styles' as *;

.slide {
  height: 105vh;
  margin-bottom: 10vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  transition: filter 50ms ease-in-out;

  .text-content {
    width: 55%;
  }

  img {
    filter: none;
    transition: filter 50ms ease-in-out, transform 0.3s ease-in-out;

    &:hover {
      transform: scale(102%);
    }
  }
}

@keyframes pulsating {
  0% {
    filter: none;
  }

  100% {
    filter: drop-shadow(0px 0px 1rem $primary-color) drop-shadow(0px 0px 2rem $secondary-color) drop-shadow(0px 0px 3rem $error-color);
  }
}

@media (max-width: 800px) {
  .slide {
    height: 105vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 10vh;
    justify-content: space-between;
    scroll-snap-align: center;
    scroll-snap-stop: always;

    .text-content {
      width: 65%;
    }

    img {
      width: 120px;
      height: 120px;
    }
  }
}

@media (max-width: 650px) {
  .slide {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .text-content {
      width: 90%;
    }

    h1 {
      font-size: 2rem;
    }

    img {
      height: 120px;
      width: 120px;
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 430px) {
  .slide {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .text-content {
      width: 90%;
    }

    h1 {
      font-size: 1.6rem;
    }

    img {
      height: 150px;
      width: 150px;
      margin-bottom: 2rem;
    }
  }

}
