/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Google Sans Code';
  src: url('../public/GoogleSansCode-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}

$background-color: #2d2d2d;
$primary-color: #769E76;
$secondary-color: #C8865B;
$text-color: #ffffff;
$error-color: #DF7568;
$border: 1px solid $text-color;
$border-radius: 1rem;

body {
  font-family: 'Google Sans Code', monospace;
  background-color: $background-color;
  color: $text-color;
  padding: 0;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  body {
    font-size: 1rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
  transition: color 0.3s ease;
  &:hover {
    color: $secondary-color;
  }
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  min-width: 2rem;
  color: $text-color;
  &:hover {
    transition: color 0.3s ease;
    color: $secondary-color;
  }
}

em {
  color: $secondary-color;
  font-style: normal;
}

.enter-animation {
  animation: enterAnimation 0.5s ease;
}

@keyframes enterAnimation {
  from {
    filter: blur(2rem);
    transform: translateY(5rem);
  }

  to {
    filter: blur(0rem);
    transform: translateY(0rem);
  }
}
