/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

$background-color: #2d2d2d;
$primary-color: #5a805a;
$secondary-color: #C8865B;
$text-color: #ffffff;
$error-color: #DF7568;
$border: 1px solid $text-color;
$border-radius: 1rem;

body {
  font-family: 'Google Sans Code', monospace;
  background-color: $background-color;
  color: $text-color;
  margin: 2rem 2rem;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
  transition: color 0.3s ease;
  &:hover {
    color: $secondary-color;
  }
}

a {
  text-decoration: none;
  color: $text-color;
  &:hover {
    transition: color 0.3s ease;
    color: $secondary-color;
  }
}
