/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Google Sans Code';
  src: url('../public/GoogleSansCode-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}

$background-color: #2d2d2d;
$primary-color: #769E76;
$secondary-color: #C8865B;
$text-color: #ffffff;
$error-color: #DF7568;
$border: 1px solid $text-color;
$border-radius: 1rem;

body {
  font-family: 'Google Sans Code', monospace;
  background-color: $background-color;
  color: $text-color;
  padding: 0;
  font-size: 1.1rem;
}

@media (max-width: 800px) {
  body {
    font-size: 1rem;
  }
}

@media (max-width: 430px) {
  body {
    font-size: 0.8rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
  transition: color 0.3s ease;

  &:hover {
    color: $secondary-color;
  }
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 430px) {
  h1 {
    font-size: 2rem;
    margin-bottom: .75rem;
  }
}

a {
  text-decoration: none;
  font-weight: bold;
  min-width: 1rem;
  color: $text-color;

  &:hover {
    transition: color 0.3s ease;
    color: $secondary-color;
  }

  img {
    opacity: 0.5;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &:hover {
      transform: scale(105%);
      opacity: 1;
    }
  }
}

em {
  color: color-mix(in srgb, currentColor 80%, black);
}

.enter-animation {
  animation: enterAnimation 0.5s ease;
}

.exit-animation {
  animation: exitAnimation 0.5s ease-out;
}

.image-container {
  position: relative;
  width: auto;
}

.code-block {
  border: $border;
  border-radius: $border-radius;
  cursor: pointer;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 1rem;
  transition: transform 0.3s ease-in-out, filter 0.1s ease-in-out;

  .copy-to-clipboard-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    transform: scale(101%);

    .copy-to-clipboard-icon {
      opacity: 1;
    }
  }
}

@media (max-width: 800px) {
  .code-block {
    font-size: 1rem;
  }
}

@media (max-width: 430px) {
  .code-block {
    font-size: 0.8rem;
  }
}

.card {
  border: $border;
  border-radius: $border-radius;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  box-shadow: none;

  &:hover {
    transform: scale(101%);
    box-shadow: 0 0 1rem $primary-color;
  }
}

.button {
  font-family: 'Google Sans Code', monospace;
  font-size: 1rem;
  background-color: $background-color;
  color: $text-color;
  border: $border;
  border-radius: $border-radius;
  padding: 0.5rem 1rem;
  height: 4rem;
  align-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $text-color;
    color: $background-color;
  }
}

@media (max-width: 800px) {
  .card {
    font-size: 0.9rem;
  }
}

@media (max-width: 430px) {
  .card {
    font-size: 0.8rem;
  }
}

@keyframes enterAnimation {
  from {
    filter: blur(2rem);
    transform: translateY(5rem);
  }

  to {
    filter: blur(0rem);
    transform: translateY(0rem);
  }
}

@keyframes exitAnimation {
  from {
    filter: blur(0rem);
    transform: translateY(0rem);
  }

  to {
    opacity: 0;
    filter: blur(2rem);
    transform: translateY(-5rem);
  }
}
