@use '../../styles' as *;

.slide {
  height: 100vh;
  margin-bottom: 10vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  transition: filter 50ms ease-in-out;
  .text-content {
    width: 50%;
    border: $border;
    border-radius: $border-radius;
    padding: 1rem;
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(101%);
    }
  }
  img {
    filter: none;
    transition: filter 50ms ease-in-out, transform 0.3s ease-in-out;
    &:hover {
      transform: scale(102%);
    }
  }
}

@keyframes pulsating {
  0% {
    filter: none;
  }

  100% {
    filter:
      drop-shadow(0px 0px 1rem $primary-color)
      drop-shadow(0px 0px 2rem $secondary-color)
      drop-shadow(0px 0px 3rem $error-color);
  }
}

@media (max-width: 800px) {
  .slide {
    height: 105vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 10vh;
    justify-content: space-between;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    .text-content {
      font-size: 0.9rem;
      width: 65%;
    }
    img {
      width: 120px;
      height: 120px;
    }
  }
}

@media (max-width: 650px) {
  .slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .text-content {
      font-size: 0.9rem;
      width: 90%;
    }

    h1 {
      font-size: 2rem;
    }

    img {
      height: 150px;
      width: 150px;
      margin-bottom: 2rem;
    }
  }

}
