@use '../../styles' as *;

.slide {
  height: 100vh;
  margin-bottom: 10vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  .text-content {
    width: 50%;
    border: $border;
    border-radius: $border-radius;
    padding: 2rem;
  }
}

@keyframes pulsating {
  0% {
    filter: none;
  }

  100% {
    filter:
      drop-shadow(0px 0px 1rem $secondary-color)
      drop-shadow(0px 0px 3rem $error-color);
  }
}

@media (max-width: 800px) {
  .slide {
    height: 105vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 10vh;
    justify-content: space-between;
    .text-content {
      width: 55%;
    }
  }
}
